<div class="container text-center">
<h1>Share buyとは</h1>
<img src="https://cdn.pixabay.com/photo/2017/05/02/03/41/action-2277292_1280.jpg"><br>
</div>
<div class="my-4">
<span class="description">お店でよくみる2つ買ったら30％OFFを、ネット上の人と共同購入することで実現するサービスです。</span>
<span class="description">欲しい商品を入力していただくだけで、自動的に同じ商品を欲しがっているユーザーを探します。</span>
<span class="description">共同で購入してくれるユーザーが見つかったら、メールでお知らせします。</span>
<span class="description">メールの指示に従って購入手続きをします。</span>
<span class="description">共同購入によって生産者側も生産計画が立てやすくなり、無駄に生産してしまうことを少なくすることができます。</span>
<span class="description">購入者も生産者も共にwinwinの関係を築くことのできるWebサービスです。</span>
</div>
