<div class="container-fluid text-center" id="main">
  <div class="row">
    <div class="col-xs-12 col-md-12">

  <%= form_tag("/home/create") do %>
  <div id="share">
  <span class="font-weight-bold">メールアドレス</span>
  <input name="email" placeholder="example@gmail.com">
  <span class="font-weight-bold">欲しいもの</span>
  <input name="want" placeholder="欲しい物のURL or 欲しいもの">
  <input type="submit" value="シェア相手を探す" class="btn btn-primary">
  <% if flash[:notice] %>
    <div class="alert alert-danger text-center">
      <%= flash[:notice] %>
    </div>
  <% end %>
  </div>
  <% end %>
        
    </div>
  </div>
</div>