<div class="container-fluid text-center" id="main">
  <div class="row">
    <div class="col-xs-12 col-md-12">

  <h1 class="font-weight-bold">
    自分が欲しいものはきっと他の人も<br>
    誰かと共同購入で30%OFFを<br>
    最安値をご提供します
  </h1>
  <p class="font-weight-bold">
    いい物を誰かにShareして、幸せも届ける。<br>
    自分の買ったものを誰かと<br>
    一緒にお得に購入することができます。<br>
  </p>
  <div class="link">
    <%= link_to("share buyしてみる","/home/share",class: "btn btn-success font-weight-bold px-4 py-2") %>
    or 
    <%= link_to("どう最安値を提供するのか","/home/description",class: "btn btn-success font-weight-bold px-4 py-2") %>
  </div>
    </div>
  </div>
</div>