<div class="container-fluid text-center" id="main">
  <div class="row">
    <div class="col-xs-12 col-md-12">

      <h1 class="font-weight-bold">
        ダイエットの初めの一歩<br>
        LINEでパーソナルトレーナー<br>
        食事の写真をLINEで送るだけダイエット
        
      </h1>
      <p class="font-weight-bold">
        管理栄養士、トレーナー、専門家がサポート<br>
      　食事やダイエットに関するお悩みも解決<br>
        まずはLINEで無料登録<br>
      </p>
      <div class="link">
        <%= link_to("今すぐLINEで無料登録をしてみる","line://ti/p/@bpr9605m",class: "btn btn-success font-weight-bold px-4 py-2") %>
     </div>
    </div>
  </div>
</div>
<div class="container-fluid text-center py-4" id="description">
      <h1 class="py-4 my-2">Pr eat（プリート）とは</h1>

    <div class="row">
        <div class="col-xs-0 col-md-4">
            
        </div>
        <div class="col-xs-12 col-md-4">
           <strong class="description">
           Pr eat（プリート）はLINEで食事の写真を送るだけで、カロリーや栄養素、ダイエットのアドバイスを受けられるサービスです。
           食事やダイエットに関するお悩みもご相談できます。
           ダイエットをしたいけど、初めの一歩が踏み出せない、何から手を付けるべきかわからない人向けのサービスです。
           栄養士、トレーナーのアドバイスをもらい、ネットでパーソナルトレーニングを受けることができます。
           instagramに食事写真をアップするついでに、Pr eatにも送ってみませんか？
           また、LINEの指示に従って、自身の詳細情報（体重や身長など）を送ってもらうことでその人に合ったアドバイスを致します。
           </strong>
        </div>
        <div class="col-xs-0 col-md-4">
            
        </div>
    </div>

</div>
<div class="container-fluid text-center" id="merit">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h1>LINEだから無料で簡単</h1>
      <img src="/images/kantan.jpg"><br>
      <span class="des">
        LINEで写真を送るだけ！そして、カロリーや栄養素、専門家のアドバイスを無料で受けよう。
        ダイエットをはじめる第一歩に最適。
      </span>
    </div>

    <div class="col-xs-12 col-md-4">
      <h1>専門家のアドバイス</h1>
      <img src="/images/isya.jpg"><br>
      <span class="des">
        トレーナー、管理栄養士のアドバイスを受けることで、ダイエットのモチベーションアップ！
        ネットで簡単にパーソナルトレーニングを受けられます。長く続けることで、よりその人に合ったアドバイスを得ることができます。
        ダイエット、食事に関するお悩みも解決します。
      </span>
    </div>
    <div class="col-xs-12 col-md-4">
      <h1>自分の食事を管理</h1>
      <img src="/images/yorokobu2.jpg"><br>
      <span class="des">
        過去の写真、カロリー、栄養素、アドバイスを振り返ることで、自信の食生活を見直すきっかけに。
      </span>
    </div>
  </div>
</div>
<div class="container-fluid text-center">
  <h1 class="py-4 my-2">Pr eat（プリート）の使い方</h1>
  <div class="row class="py-4 my-4>
    <div class="col-xs-12 col-md-6">
      <img src="/images/preat_line1.png" class="line"><br>
    </div>
    <div class="col-xs-12 col-md-6">
      <h2 class="py-4 py-4">写真で栄養管理</h2>
      <span id="setumei">
        line登録をして、食事の写真を送るだけで、栄養管理ができます。食事の写真をためることで、長期的な支援を行うことができます。
        lineだからはじめやすい。そして、トレーナーの一言アドバイスをもらって、食事を見直せます。
      </span>
    </div>
  </div>
</div>

<div class="container-fluid text-center">
  <div class="row py-4 my-4">
    <div class="col-xs-12 col-md-6">
      <img src="/images/preat_line2.PNG" class="line"><br>
    </div>
    <div class="col-xs-12 col-md-6">
      <h2 class="py-4 py-4">ダイエット相談</h2>
      <span id="setumei">
        何からダイエットを始めたらいいのか？どうやったらダイエットが続くのか？等、ダイエットや食事、体型改善などのお悩みも相談することができます。
        栄養管理士やトレーナーのアドバイスなので、安心してご利用いただけます。lineで簡単にパーソナルトレーニングを受けてみませんか？
      </span>
    </div>
  </div>
</div>
<div class="container-fluid text-center" id="re">
  <h1 class="py-4 my-2">LINEでパーソナルトレーナー</h1>
  <h2>まずは試しに食事の写真を送ってみよう！</h2>
  <h3>ダイエットに関する相談も受付中！</h3>
  <div class="lank">
    <%= link_to("今すぐLINEで無料登録をしてみる","line://ti/p/@bpr9605m",class: "btn btn-success font-weight-bold px-4 py-2") %>
  </div>
</div>