// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.font-weight-bold{
    padding-top: 50px;
    padding-bottom: 20px;
    color: #008080;
}
.link{
    margin-top: 50px;
    padding-bottom: 320px;
}
.lank{
    margin-top: 50px;
    padding-bottom: 80px;
}
p{
    color: #FFFFFF;
}

input{
    border: none;
    border-radius: 10px;
    box-shadow: none;
    padding: 2px 3px;
    border: 1px solid #aaa;
    height: 40px;
    margin-right: 9px;
}
input:focus{
    outline: none;
    box-shadow: 0 0 7px #1abc9c;
    width: 300px;
}
#share{
    padding-top: 200px;
    padding-bottom: 200px;
}
span.font-weight-bold{
    font-size: 30px;
}
#main{
  background-image: image-url("/images/preat.jpg");
  background-size: cover;
  background-position: 0% 50%;
}
img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 250px;
}
img.line{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 400px;
}
#description{
    background-color: #04B4AE;
}
#merit{
    background-color: #E6E6E6;
    padding-top: 50px;
    padding-bottom: 50px;
}
#re{
    background-color: #E6E6E6;
}
img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 200px;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}
span.des{
    display: block;
    padding-right: 50px;
    padding-left: 50px;
}
#setumei{
    display: block;
    padding-right: 50px;
    padding-left: 50px;
}